<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    

                </tr>
            </thead>
           {{#each products}}
          
            <tbody>

                <tr>

                    <td><img style="width: 70px; height:70px;" src="/product-images/{{this.product._id}}.{{this.product.fileExtension}}" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <button class="btn mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>

            </tbody>
            {{/each}}
        </table>
    </div>
</section>