<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    

                </tr>
            </thead>
           {{#each products}}
           
          
            <tbody>

                <tr>

                    <td><img style="width: 70px; height:70px;" src="/product-images/{{this.product._id}}.{{this.product.fileExtension}}" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <button class="btn mr-3 " onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>

            </tbody>
            {{/each}}
        </table>
        <hr>
        <div class="float-right pr-5">
            <h5 class="float-left mr-5">Total: Rs.<span id="total">{{total}}</span></h5>
            <br>
            <a onclick="placeOrder({{isEmpty}})" class="btn btn-warning mt-3" style="width: 100%;"><b>Place Order</b></a>
        </div>
    </div>
</section>